h1 {
    color: rgb(26, 26, 134);
}

select {
    color: rgb(26, 26, 134);
}

p {
    font-style: normal
}

p {
    font-size: 20px;
}

#slogan {

}


body {
    background-image: url("https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg");
}

body {
    text-align: center;
}